<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Import application configuration file -->
	<context:property-placeholder ignore-unresolvable="true" file-encoding="UTF-8" location="classpath:application.properties" />
	<!-- Scan config package automatically.
	     Inject class annotated with @Component as a bean into the IOC container -->
	<context:component-scan base-package="com.example.config" />
	<!-- Scan config.service package automatically.
	     Inject class annotated with @Component as a bean into the IOC container -->
	<context:component-scan base-package="com.example.config.service" />
	<context:component-scan base-package="com.example.config.properties" />
	<context:component-scan base-package="com.example.store" />
	<!-- Global exception handling -->
	<context:component-scan base-package="com.example.handler" />
	<!-- Scan all types of annotations under the service.impl package  -->
	<context:component-scan base-package="com.example.service.impl" />

	<!-- Configure transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- Inject database connection -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Configure annotation-based declarative transactions -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="baseEntity" class="com.example.base.BaseEntity"></bean>
	
	<bean id="applicationContextUtil" class="com.example.util.ApplicationContextUtil" />
</beans>